extends layout

block head
  title Live Dashbaord
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="/stylesheets/dashboard.css")

block content
  h1 AUSTRALIAN GRAND PRIX 2025
  #connectionStatus.connection-status.disconnected Disconnected
  
  .container#canvasContainer
    canvas#trackCanvas
    #loading.loading Loading track data...
  
  #legend.legend
  
  .leaderboard
    h2 Live Leaderboard
    table.leaderboard-table
      thead
        tr
          th Pos
          th Driver
          th Lap
          th Speed
          th Last Update
      tbody#leaderboardBody

block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/track-renderer.js")